*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #41a1ba;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}

.working{
  background-color: #EF5D50;
}

.hidden{
  display: none;
}

.pomodoro{
  background-color: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  
}

.pomodoro h2 {
  text-align: center;
}

.pomodoro button {
  background-color: #41a1ba;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button {
  background-color: #EF5D50;
  color: #fff;
}
.control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer{
  font-size: 6rem;
  text-align: center;
}

.pomodoro .details {
  margin: 20px 0;
}